* {
  color: black;
}

.block {
    width: 13vw;
    height: 13vh;
    box-shadow: 0px 0px 0px 6px rgba(169,204,238,255);
    color: white;
    text-align: center;
  }

.blockBoven {
  width: 13vw;
  height: 13vh;
  box-shadow: 0px 0px 0px 6px rgba(169,204,238,255);
  color: white;
  cursor: pointer;
  text-align: center;
}  



  
.hidden {
}

.wit {
  background-color: white !important;
}

.info {
  display: flex;
  gap: 17.5px;
  flex-direction: row;
}

.blockInfo {
  width: 6vw;
  height: 6vh;
  box-shadow: 0 0 0 2px rgb(169,204,238,255), 8px 8px 0 0 rgb(169,204,238,255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.half {
  height: 3.6vh;
}

.half2 {
  height: 4.2vh;
}

.blockRegie {
  width: 13vw;
  height: 21vh;
  box-shadow: 0px 0px 0px 6px rgba(169,204,238,255);
  text-align: center;
  margin-top: 32px;
}

.blockService {
  width: 13vw;
  height: 13vh;
  box-shadow: 0px 0px 0px 6px rgb(126,178,230,255);
  text-align: center;
}

.blockHub {
  width: 13vw;
  height: 27vh;
  box-shadow: 0px 0px 0px 6px rgb(31,95,160,255);
  text-align: center;
}

.blockInt {
  width: 13vw;
  height: 21vh;
  box-shadow: 0px 0px 0px 6px rgb(20,63,106,255);
  text-align: center;
}

.een {
  box-shadow: 0 0 0 2px rgb(169,204,238,255), 8px 8px 0 0 rgb(169,204,238,255);
}

.twee {
  box-shadow: 0 0 0 2px rgb(126,178,230,255), 8px 8px 0 0 rgb(126,178,230,255);
}

.drie {
  box-shadow: 0 0 0 2px rgb(31,95,160,255), 8px 8px 0 0 rgb(31,95,160,255);
}

.vier {
  box-shadow: 0 0 0 2px rgb(20,63,106,255), 8px 8px 0 0 rgb(20,63,106,255);
}

.blokTwee {
  display: flex;
  column-gap: 1vw;
}

.blockGeen {
  width: 6vw;
    height: 6vh;
    background-color: blue;
    color: white;
    text-align: center;
}

.probleem1 {
  margin-top: 32px;
  cursor: pointer;
}

.probleem2{
  cursor: pointer;
}

.probleem3{
  cursor: pointer;
}

.probleem4{
  cursor: pointer;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.reset {
  cursor: pointer;
}




/*  ---------------------------- */




.CapabilityButton div button {
  background-color: rgb(225, 224, 206);
  height: 50%;
  width: 20vw;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.main1 {
  background-color: rgb(255, 255, 255);
  height: 70vh;
  width: 100vw;
  position: relative;
}



#button1 {
  position: fixed;
  display: none;
  width: 600px;
  height: 400px;
  background-color: rgba(62, 53, 53);
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  justify-content: center;    
  font-size: 20px;
}



#button2 {
  position: fixed;
  display: none;
  width: 600px;
  height: 400px;
  background-color: rgba(62, 53, 53);
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


